.side-bar-container{
    height: 100vh;
    width: 40%;
}
.chats-content{
    background-color: rgb(17, 27, 33);
    color: aliceblue;
    height: 93.1%;
    padding: .5rem;
}

.friend-list{
    width: 100%;
    height: auto;
    display: flex;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
    border-bottom: 1.5px solid gray;
}
.friend-list:hover {
    opacity: 1;
}

.friend-list > *{
    cursor: pointer;
}

.friend-list p {
    align-self: flex-start;
    margin: 0;
}
